* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.dart text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.java text eol=lf
*.gradle text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.sh text eol=lf
